# Block `Postgres`
POSTGRES_DB=guacamole_db
POSTGRES_USER=guacamole_user
POSTGRES_PASSWORD="password_postgresql"

# Block `GuacD`
GUACD_HOSTNAME=guacd
GUACAMOLE_HOME=/etc/guacamole
POSTGRESQL_HOSTNAME="postgres"
POSTGRESQL_PORT=5432
# POSTGRESQL_DATABASE -> POSTGRES_DB
# POSTGRESQL_USERNAME -> POSTGRES_USER
# POSTGRESQL_PASSWORD -> POSTGRES_PASSWORD

# Group_add for `GuacD`:
CODE_GROUP="1000"

