# Block `Nginx Proxy Manager`
IN_EXTERNAL_PORT=81 # Admin Web Panel
TIME_ZONE="Europe/Moscow"
DB_POSTGRES_HOST='npm-postgres'
DB_POSTGRES_PORT='5432'
DB_POSTGRES_NAME='npm' 
DB_POSTGRES_USER='npm_user'
DB_POSTGRES_PASSWORD='postgres_password'


# Block `Postgresql`
# POSTGRES_DB -> DB_POSTGRES_NAME
# POSTGRES_USER -> DB_POSTGRES_USER
# POSTGRES_PASSWORD -> DB_POSTGRES_PASSWORD